<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newit.bsrpos_sql">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="ขายหน้าร้านบุญศิริ"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.ActLogin"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:noHistory="true" />
        <activity android:name=".Activity.ActSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ActMain"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity
            android:name=".Activity.ActWhGrp"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:noHistory="true" />
        <activity
            android:name=".Activity.ActOrder"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity
            android:name=".Activity.ActCustomer"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity
            android:name=".Activity.ActCustomerDetail"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity
            android:name=".Activity.ActProduct"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity
            android:name=".Activity.ActProductPrice"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity
            android:name=".Activity.ActOrderInput"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity
            android:name=".Activity.ActOrderInputPayment"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity
            android:name=".Activity.ActOrderItemInput"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity
            android:name=".Activity.ActUser"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity
            android:name=".Activity.ActUserInput"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity
            android:name=".Activity.ActInvoicePrint"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity
            android:name=".Activity.ActInvoice"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" />
        <activity android:name=".Activity.ActInvoiceInput"></activity>
    </application>

</manifest>